body{
    background-color: rgb(201, 91, 177)
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
}
h4{
    text-align:center;
    font-size: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}